* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
	 height: 1200px;
	 background-image: url("blackfond.jpg");
	 background-size: all;
     font-family: Helveica, Arial, sans-serif;
     font-style: italic;
     background-attachment: fixed;
}
.titulo{
	 text-align: center;
  text-shadow: 5px 5px 4px white;
   font-size: xx-large;
}
#imagenlogo{
   width: 200px;
   height: 200px;
   margin: 20px;
   
   }
  #aca{
      	width: 200px;
      	height: 200px;
      	margin: 20px;
      	}      
  .ubicacion{
  	     font-size: x-large;
         box-sizing: content-box;
         background-image: url("mapa.png");
         background-color: white;
         margin: 50px auto;
         float: center;
         width: 600px;
      	 height: 350px;
         background-position: center;
         background-size: cover;
         position: relative;
     }
     .contenido{
  	width: 1100px;
  	height: 1300px;
  	margin: 50px auto;
  }
  .producto{
         background-color: skyblue;
         margin: 10px auto;
         float: center;
      	 width: 1000px;
      	 height: 400px;
         font-size: xx-large;
  }
  
  .more{
  	font-size: xx-large;
  	box-sizing: content-box;
  	background-color: skyblue;
  	margin: 50px auto;
  	float: center;
  	 width: 600px;
     height: 250px;
     text-align: center;
     

  }
  img.izquierda{
  	float: left;
  }
  img.derecha{
  	float: right;
  }
 