* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
	height: 1200px;
	 background-image: url("blackfond.jpg");
	 background-size: all;
     font-family: Helveica, Arial, sans-serif;
     font-style: italic;
     background-attachment: fixed;
}
.teacher{
	background-color: skyblue;
	float: center;
	margin: 10px auto;
	width: 500px;
    height: 300px;
}
#picmen{
	width: 200px;
   height: 200px;
}